// scss-lint:disable ImportantRule, QualifyingElement
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$color-red: #f00;
$breakpoints: (
  md: $breakpoint-md,
);

// scss-lint:disable PropertySortOrder
@mixin extended-orders ($key, $order) {
  .order-#{$key}-#{$order} {
    -ms-flex-order: $order;
    order: $order;
  }
};

@each $key, $breakpoint-size in $breakpoints {
  @media (min-width: #{$breakpoint-size}) {
    @for $i from 13 through 18 {
      @include extended-orders($key, $i);
    }
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  text-align: right;
}

.form-group[data-required] label::before {
  color: $color-red;
  content: '* ';
}

.form-container .form-row {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

// scss-lint:disable SelectorFormat
.form-group.estSoftLicenses .form-row label::after {
  content: '(include sales, design, project mgmt, ops, purchasing)';
  display: block;
  position: static;
  top: 100%;
  font-size: 90%;
}

@media (min-width: $breakpoint-lg) {
  // scss-lint:disable SelectorFormat
  .form-group.estSoftLicenses .form-row label::after {
    position: absolute;
    right: 5px;
  }
}
