div.calculator-form-container
  p.text-secondary.text-center.mb-4.mt-2.d-print-none {{ instructions }}
  print-button.text-center.my-3(v-show="roi.submitted && roi.calculated") {{ printInstruction }}
  div.form-container
    b-form#roiForm(inline @submit.prevent="submitROI" novalidate :validated="form.invalid")
      .alert.alert-danger.mx-auto(v-show="form.invalid") {{ form.invalidMessage }}
      .formFields.row
        b-form-group.mt-3.col-md-6.d-inline-block(
          v-for="(item, key) in roi.fields"
          :key="key"
          :label="item.label"
          :label-for="item.name"
          :descriptions="item.description"
          horizontal
          label-size="md"
          label-cols="9"
          :class="item.name + ' ' + (item.formGroupClass || '')"
          :label-class="'text-left text-lg-right d-inline-block ' + (item.labelClass || '')"
          breakpoint="lg"
          :data-required="!!item.required"
        )
          b-form-select.w-100(
            v-if="item.type === 'select-yn'"
            size="md"
            :name="item.name"
            :required="!!item.required"
            :class="'col-sm-12 ' + (item.fieldClass || '')"
            v-model="item.value"
            v-validate="item.validation"
            :tabindex="item.tabindex"
          )
            option(value="") Select
            option(value="yes") Yes
            option(value="no") No
          input.w-100(
            v-else-if="item.type === 'hidden'"
            :name="item.name"
            :type="item.type"
            v-model="item.value"
          )
          input-number-formatted.w-100(
            v-else
            :name="item.name"
            :type="item.type"
            :min="item.type=='number' ? item.min : false"
            :step="item.type=='number' ? item.step : false"
            :data-decimals="item.decimals"
            :data-currency="item.currency"
            :class="'col-sm-12 ' + (item.fieldClass || '')"
            v-model="item.value"
            @update:value="item.value = $event"
            :required="!!item.required"
            v-validate="item.validation"
            :tabindex="item.tabindex"
          )
      .buttonContainer.mb-2.mt-5.col-12.text-center.text-md-right
        .small.my-3.col-md-6.float-left.text-center.text-md-left.d-print-none(v-html="requiredNote")
        b-button.my-2.ml-2.resetIt.d-print-none(
          variant="secondary"
          size="lg"
          type="reset"
          @click="resetROIForm"
        ) Reset
        b-button.my-2.ml-2.calculateIt.d-print-none(
          variant="primary"
          size="lg"
          type="submit"
          @click=""
        ) Calculate
