// scss-lint:disable ImportantRule
@media print {

  .roi-analyst-container .roi-categories {
    padding-top: .5rem !important;
  }

  .roi-analyst-container .roi-category-container {
    margin-bottom: .5rem !important;
  }
}
