div.analystMainContainer
  .roi-analyst-container.pb-3
    b-row.text-center.d-none.d-lg-flex.mt-5(align-v="center")
      b-col.h6.mb-1(cols="12" md="6" lg="2")
      b-col.h6.mb-1(cols="12" md="6" lg="5") {{ resultHeader | labelify(config.labels) }}
      b-col.h6.mb-1(cols="12" md="6" lg="5") {{ annualizedHeader | labelify(config.labels) }}
    b-row.text-center.mt-1.mb-4.roi-category-container(
      align-v="center"
      v-for="(item, key) in roi.results"
      :key="key"
    )
      b-col.h5.text-center.text-lg-left.roi-categories(cols="12" md="12" lg="2") {{ key | labelify(config.labels) }}
      template(v-if="key !== 'analysis'")
        b-col(
          cols="12"
          md="6"
          lg="5"
          v-for="(period, periodKey) in item"
          :key="key + '.' + periodKey"
        )
          .d-lg-none.h6.my-2 {{ periodKey | labelify(config.labels) }}
          b-row.text-center.py-2(align-v="center")
            b-col.text-center.lead.py-2(
              cols="12"
              md="6"
              v-for="(stat, statKey) in period"
              :key="key + '.' + periodKey + '.' + statKey"
            ) {{ statKey | labelify(config.labels) }}
              b-row.text-center(align-v="center")
                b-col.text-center.py-2.small(
                  v-html="roiFormatter(stat, [key, periodKey, statKey], config['formats'])"
                )
      template(v-else)
        b-col.py-2(cols="12" md="6" lg="5")
          b-row(align-v="center")
            b-col(cols="12" lg="6").small.text-center.text-lg-left.pt-2 {{ 'investment' | labelify(config.labels) }}
            b-col(cols="12" lg="6")
              b-row.my-2(align-v="center" no-gutters)
                b-col.text-right.px-1(
                  v-html="roiFormatter(item.investment.upfront, ['analysis', 'investment', 'monthly'], config['formats'])"
                )
                b-col.text-left.px-1 {{ 'upfront' | labelify(config.labels) }}
              b-row.my-2(align-v="center" no-gutters)
                b-col.text-right.px-1(
                  v-html="roiFormatter(item.investment.monthly, ['analysis', 'investment', 'monthly'], config['formats'])"
                )
                b-col.text-left.px-1 {{ 'monthly' | labelify(config.labels) }}
        b-col.py-2(cols="12" md="6" lg="5")
          b-row(align-v="center")
            b-col.lead.px-4(cols="12" lg="6") {{ 'finalRoi' | labelify(config.labels) }}
            b-col.h6.my-1.text-danger(
              cols="12"
              lg="6"
              v-html="roiFormatter(item.finalRoi.inMonths, ['analysis', 'finalRoi', 'inMonths'], config['formats'], {'noSuffixClass': true})"
            )
  hr
  assumption-content.my-4.pb-4
  print-button.text-center.my-3.py-3.has-icon(v-show="roi.submitted && roi.calculated") {{ printInstruction }}
  contact-sales.border-top.pt-4.footer.d-print-none

