#app
  b-container.roiCalculatorContainer
    b-navbar.d-print-block(variant="faded" type="light")
      b-navbar-brand(href="#")
        img(
          src="dist/assets/logo_horz_large.png"
          class="d-inline-block align-top"
          alt="D-Tools"
          height="100"
        )
    p.small.text-right.d-none.d-print-block.mb-5.pb-1.border-bottom.border-secondary {{ address }}
    b-jumbotron.roi-jumbotron
      template(slot="header") {{ title }}
      b-card.roiFormCard.mt-4
        roi-form(@roi-submitted="onRoiSubmitted")
      p.roi-info.text-secondary.text-center.mb-4.mt-5.px-5(v-show="roi.calculated") {{ roiInfo }}
      b-card.roiAnalystCard.mt-4(v-show="roi.calculated")
        roi-analyst(:roi="roi")
