.roi-assumption-content
  .h5 Assumptions:
  ul
    li 50% time and cost savings on proposals
    li 1% cost savings on equipment due to a reduction of design errors and omissions
    li 30% time and cost savings on drawings
    li 10% increased productivity for field techs when work orders are issued (if not issued previously)
    li Time to attach wire label reduced by 30 seconds per wire label when pre-printed (vs. handwritten)
    li Time to generate a PO reduced by 1 minute per PO when all PO details are pulled from proposal data

